.docas {
  margin: 0 auto;
  padding: 10px;
  width: 480px;

  background-color: chartreuse;

  color: blueviolet;
}

.camera {
  background-color: cornflowerblue;
  margin-top: 10px;
  width: 480px;
  height: 500px;
}
.name {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.percent {
  text-align: center;
  font-size: 14px;
}
.icon .invisible {
  display: none;
}
